[
	{task7, [
		{max_workers, 1000}
	]},
	{lager, [
  		{log_root, "log/"},
  		{colored, true},
		{crash_log, "crash.log"}, 
		{crash_log_size, 0}, 
		{crash_log_date, "$D0"}, 
		{crash_log_count, 5},
		{error_logger_hwm, 100},
		{lager_truncation_size, 4096},
		{async_threshold, 500}, {async_threshold_window, 100},
		{handlers, [
		  {lager_console_backend, info},
		  {lager_file_backend, [{file, "error.log"}, {level, error}]},
		  {lager_file_backend, [{file, "warning.log"}, {level, warning}]},
		  {lager_file_backend, [{file, "info.log"}, {level, info}]},
		  {lager_file_backend, [{file, "debug.log"}, {level, debug}]}
		]}
	]}
].
